<div class="container" style="padding-top: 10px">Plataforma web para:</div>
<div class="container" style="padding-top: 10px">Cotizaciones de Isapres</div>
<div class="container" style="padding-top: 10px"> © 2017 Copyright</div>
            