/*Parallax*/

.parallax { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;   
}

/* Logos */

.logos{
	padding-left: 40px;
	z-index: 2;
}


/* toolmsj container */
.toolmsj {
    position: relative;
    display: inline-block;
}

.toolmsj .toolmsjtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;    
    /* Fade in toolmsj - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
.toolmsj .toolmsjtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.toolmsj:hover .toolmsjtext {
    visibility: visible;
    opacity: 1;
}

body,header {
    margin: 0;
  }
.active {
    background-color: #4CAF50;
}

/*NavBar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.titulo{
    z-index:2; 
    color:white; 
    text-align: center;
    font-size: 2cm;
}
.sub_titulo{        
    z-index:2; 
    color:white; 
    text-align: center;
    font-size: 1.5cm;
}